/**
 * Base styles
 *
 * Element styles, no classes nor IDs.
 * Base typography & raw elements
 *
 * ---------------------
 * |--- Code
 * |--- iFrame
 * ---------------------
 */

/* --- Code --- */
@import 'code';
/* --- iFrame --- */
@import 'iframe';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
  }
}

.centered {
  display: flex;
  justify-content: center;

  &.column {
    align-items: center;
    flex-direction: column;
  }
}
