script.
  console.log("%cYou should not be here, this is just for developers!!!", "color: red; font-size:30px; font-family: \"Helvetica\",sans-serif;");
  console.log("%cOhh wait you are a developer, its OK then ¯\\_(ツ)_/¯", "font-size:25px; font-family: \"Helvetica\",sans-serif; background: -webkit-linear-gradient(left, blue, cyan); -webkit-background-clip: text; -webkit-text-fill-color: transparent;");
