.nav-items
  a(href='/about-me', class="#{ current.source === 'about-me' ? 'active' : '' }") about-me
  a(href='/articles', class="#{ current.source === 'articles' || current.path.indexOf('articles') > -1 ? 'active' : '' }") articles
  a(href='/talks-projects', class="#{ current.source === 'talks-projects' ? 'active' : '' }") talks-and-projects
  a(href='/musts', class="#{ current.source === 'musts' ? 'active' : '' }") musts
  
