<div class="row">
    <div class="card-panel col l8 m10 s12 offset-m1 offset-l2 yellow lighten-4 home-text">

		<h4>{ Web & mobile developer }</h4>
       <div class="bio flow-text" id="bio">
	        <p>{ An Argentinian guy who believes in God, loves his wife and like to learn new things. <br>
				I am a young student who loves programming. I started Bioengineering and when I took the Introduction to Programming class I discovered a whole new world and fell in love with it and started to learn as much as I can. }</p>
			<h5>My developer path</h5>
		   <p>{ What I love the most is web development, currently I am learning and working with a many col things. I am really passionate about <span class="tag">JavaScript</span> (<span class="tag">ES6</span> of course), specially <span class="tag">NodeJS</span> and both <span class="tag">React</span> and <span class="tag">Angular</span> ecosystems. I work with a bunch of other things too: <span class="tag">Bootstrap & Foundation</span>, <span class="tag">Gulp & Webpack</span>, <span class="tag">SASS & PostCSS</span>, <span class="tag">PHP</span>, <span class="tag">WordPress</span>, <span class="tag">MySQL</span>, <span class="tag">Python & Django</span>, and the list goes on. }</p>
	     <p>{ Download resume: <a class="download" href="assets/portfolio/CV_en.pdf" download="Christian_Gill_CV">English</a><!--, <a class="download" href="assets/portfolio/CV_es.pdf" download="Christian_Gill_CV">Spanish</a>-->. }</p>
		</div>
    </div>
</div><!-- row -->
