include _partials/_head
body.hack
  - if (current.source !== "index")
    include _partials/_header
  main
    div(class="container #{current.source}")
      != yield
  - if (current.source !== "index")
    include _partials/_footer
