.not-found.code-area
    span(style='color: gray')
      | // 404 page not found.
    span
      span(style='color:#bf616a;')
        | #{'if '}
      | (!
      span(style='font-style: italic;') found
      | )
      | {
    span
      span(style='padding-left: 15px;color:rgb(0, 110, 196)')
        i(style='width: 10px;display:inline-block')
        | throw
      span
        | (
        span(style='color: #a6a61f') '¯\_(ツ)_/¯'
        | );
      span(style='display:block') }
