.author
  .media
    .media-left
      .avatarholder.avatar
    .media-body
      .media-heading= site.title
      .media-content
        | #{'Full Stack JS Developr at '}
        a(href="#{site.company.url}", target="_blank", rel="noopener")
          | #{site.company.name}
