doctype html
html
  head
    link(rel='manifest', href='manifest.json')
    title #{ title && title !== site.title ? title + ' » ' + site.title : site.title }
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Christian Gill')
    meta(name='keywords', content='web-developer, developer, javascript, html, angular, react, node')
    meta(name='author', content='gillchristian')
    link(rel='shortcut icon', href='/favicon.ico')
    //- CSS & Fonts
    link(rel='stylesheet', href='/assets/style/libs/hack/dist/hack.css')
    link(rel='stylesheet', href='/assets/style/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")

    - if (site.services.analytics && environment === "production")
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '#{site.services.analytics}', 'auto');
        ga('send', 'pageview');
