include ./_head
body.hack
  - if (current.source !== "index")
    include ./_header
  main
    div(class="container #{current.source}")
      != yield
  - if (current.source !== "index")
    include ./_footer
