- function homeClass() {
-   return current.path.length === 1 && current.source === 'index' ? 'home' : ''
- }

include _partials/_head
body(class="hack #{ homeClass() }")
  - if (current.source !== "index")
    include _partials/_header
  main
    div(class="container #{current.source}")
      != yield
  - if (current.source !== "index")
    include _partials/_footer
