h1
  | web-developer
p
  | I'm an Argentinian guy who believes in God, <3 his wife and like to learn new things. Oh, also a developer! 
p  
  | What I like the most is web development, 
  | currently I am learning and working with a bunch of cool stuff. 
  | I am really passionate about JavaScript, specially NodeJS, React and Angular ecosystems.
- tags = ["Bootstrap & Foundation", "Gulp & Webpack", "SASS & PostCSS", "Vue.js", "RxJS", "MongoDB"]
p
  | I work with a bunch of other interesting things too: 
  - each tag in tags
    span.lang-tag #{tag}
    span #{', '}
  | and the list goes on.
