h1 must do/read/watch list

p I love to read, watch, listen and talk about software engineering, we all do right? :D

p These are some books, articles, videos and tutorials that changed the way I think about development...

p
  | #{'Have suggestions? '}
  a(href="https://twitter.com/gillchristian", target="_blank", rel="noopener noreferrer") @gillchristian
  | #{' :D'}

#musts-content.musts-content-loading
  .loading
