blockquote
  | Each problem should be easier to solve than the last as you train your ability to learn and understand.
  br
  b
    i James Kayle
  | .

h1 musts

P I love to read, watch, listen and talk about software engineering, we all do right?

p These are some books, articles, videos and tutorials that changed the way I think about software engineering.

p
  i
    | #{'Have suggestions? '}
    a(href="https://twitter.com/gillchristian", target="_blank", rel="noopener noreferrer") @gillchristian
    | #{' :D'}

#musts-content.musts-content-loading
  .loading
