blockquote
  | Each problem should be easier to solve than the last as you train your ability to learn and understand.
  br
  b
    i James Kyle
  | .

h1 musts

p
  | These are some books, articles, videos and tutorials that changed the way I think about software engineering.

#musts-content.md-page--loading
  .loading

hr

p
  i
    | #{'What do you think ? Have suggestions? '}
    a(href="https://twitter.com/gillchristian", target="_blank", rel="noopener noreferrer") @gillchristian
    | #{' :D'}
