// margin bottom

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

// margin top

.m-t-15 {
  margin-top: 15px !important;
}

// margin-y

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
