/**
 * Trumps styles
 *
 * Override other styles, text alignment classes
 * Only place were !important is allowed.
 *
 * ---------------------
 * |--- Colors
 * ---------------------
 */

/* --- Colors --- */
@import 'colors';

// ---------------------

.hack ul ul {
  margin-top: 5px;
}

.hack h1 {
  padding-top: 0;

  &:after {
    bottom: 15px;
  }
}

.hack h2 {
  margin-botton: 1.25rem;
}

.card .inner {
  padding: 0.25rem 1rem;

  &:last-child {
    padding-bottom: 1rem;
  }

  &:first-child {
    padding-top: 1rem;
  }
}
