.author
  .media
    .media-left
      .avatarholder.avatar
    .media-body
      .media-heading= site.title
      .media-content
        | #{'Senior Software Engineer and Team Lead at '}
        a(href="http://housinganywhere.com/", target="_blank", rel="noopener noreferrer")
          | HousingAnywhere
