footer
  .footer.container
    div
      - each account in site.social
        a.social-link(href="#{account.url}", target="_blank", rel="noopener")
          i(class="fa #{account.class} fa-2x")
    div #{new Date().getFullYear()} © gillchristian

script(src="/assets/js/bundle.js")
