.author {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .media {
    width: 95%;
  }
  .avatar {
    background-image: url("/images/avatar.jpg");
    object-fit: contain;
  }
}
