body.home {
  background-image: url(https://i.giphy.com/media/nnRq6EvRl982Y/giphy.webp);
  background-color: $dark-gray;
  background-size: cover;
  background-position: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  h1.title {
    font-size: 4em;
    line-height: 1;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    color: white;

    &:after {
      content: "";
    }
  }

  .nav-items {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 340px;

    a {
      background-color: white;
      margin: 10px;
      padding: 5px 7px;
      font-size: 1.4em;
      line-height: 1;
      border-bottom: none;
    }

    a:hover {
      background-color: $links;
    }
  }
}
