// navbar bar
header {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1;
}
.header-fix {
  width: 100%;
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  .blog-name {
    margin: 10px 0;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    a {
      margin: 5px 10px 5px 0;
      border-bottom: none;
      &.active {
        background-color: $links;
        color: white;
      }
    }
  }
  .blog-name {
    font-size: 1.5em;
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
