.project {
  margin-bottom: 30px;
}

.project--title {
  font-weight: bold;
  font-size: 20px;
}

.project--description a {
  border-bottom: none;
}

.project--description {
  margin-top: 10px;
}

.project--contributor {
  margin-left: 5px;
}

.project--block {
  margin-top: 5px;
}
