header
  .navbar.container.grid
    .blog-name
      a(href='/')= site.title
    .items
      a(href='/') /home
      a(href='/blog') /blog
      a(href='/about-me') /about me
      a(href='my-projects') /projects
