<div class="row">
    <div class="card-panel col l8 m10 s12 offset-m1 offset-l2 yellow lighten-4">

		<h4>{ Web & mobile developer on the making }</h4>
       <div class="bio flow-text" id="bio">
	        <p>{ I am an Argentinian guy who believes in God, loves his fiancée and like to learn new things. <br>
				I am a young student who loves programming. I started Bioengineering and when I took the Introduction to Programming class I discovered a whole new world and fell in love with it. When I took the OOP/C++ class I made the decision to change my degree to Compute Science. }</p>
			<h5>My developer path</h5>
		   <p>{ Since I discovered programming I started to learn as much as I can. What I love the most is web development, currently I am learning from a variety of languages and frameworks: <span class="tag">MEAN Stack</span>, <span class="tag">Bootstrap</span>, <span class="tag">Foundation 5</span>, <span class="tag">Gulp</span>, <span class="tag">SASS</span>, <span class="tag">PostCSS</span>, <span class="tag">PHP</span>, <span class="tag">WordPress</span>, <span class="tag">MySQL</span>, and the list goes on. }</p>
	        <p>{ Resume: <a class="download" href="assets/portfolio/CV_en.pdf" download="Christian_Gill_CV">English</a>, <a class="download" href="assets/portfolio/CV_es.pdf" download="Christian_Gill_CV">Spanish</a>. }</p>
		</div>
    </div>
</div><!-- row -->