<div class="row">
    <div class="card-panel col m10 s12 offset-m1 yellow lighten-4">
        <h4>Projects</h4>
        <hr>
        <div class="row">
            <div ng-repeat="project in projects">
                <div class="col m6 s12 l4 portfolio-frame">
                    <div class="img-container">
                        <a href="{{project.url}}" target="_blank">
                            <span class="visit">Visit</span>
                            <img 
                                class="responsive-img portfolio-img z-depth-1" 
                                src="{{project.img}}"
                                alt="{{project.name}}">
                        </a>
                        <br>
                        <span class="project-title grey-text text-darken-4">{{project.name}}</span>
                        <br>
                        <span class="grey-text text-darken-4">{{project.description}}</span>
                        <br>
                        <span ng-repeat="tag in project.tags" class="tag">#{{tag}} | </span>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-panel col m10 s12 offset-m1 yellow lighten-4">
        <h4>Personal Projects</h4>
        <hr>
        <div class="row">
            <div ng-repeat="personal in personals">
                <div class="col m6 s12 l4 portfolio-frame">
                    <div class="img-container">
                        <a href="{{personal.url}}" target="_blank">
                            <span class="visit">Visit</span>
                            <img 
                                class="responsive-img portfolio-img z-depth-1" 
                                src="{{personal.img}}"
                                alt="{{personal.name}}">
                        </a>
                        <br>
                        <span class="project-title grey-text text-darken-4">{{personal.name}}</span>
                        <br>
                        <span class="grey-text text-darken-4">{{personal.description}}</span>
                        <br>
                        <span ng-repeat="tag in personal.tags" class="tag">#{{tag}} | </span>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>