include ../_head
body.hack
  include ../_header
  //- this is the content section
  main
    .container
      if current.source === 'index'
        != yield
      else
        h1= title
        p
          i.fa.fa-clock-o
          | #{' ' + date}
        .article
          != yield
          include _prev-next
  include ../_footer
