blockquote
  | I have only one method that I recommended extensively - it's called think before you write.
  br
  b
    i Richard Hamming
  | .

h1 articles

if JSON.stringify(public.articles._data) === JSON.stringify({})
  .alert.alert-success
    | ¯\_(ツ)_/¯
    | Ups there are no articles published yet!  I'll start publishing soon.
    | ¯\_(ツ)_/¯
else
  - each article, slug in public.articles._data
    h2
      a(href="/articles/#{ slug }")= article.title
    p= article.excerpt
